.navContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1000;

}

.contact {
    background-color: rgba(255,255,255,.1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
    border-bottom: .5px solid rgba(255,255,255,.1);
}



.navContainer  .leftList {
    display: flex;
    color: #fff;
    gap: 15px;

}



.navContainer  .rightList {
    display: flex;
    color: #fff;
    gap: 15px
}

.navContainer ul {
    list-style-type: none;

}

.navContainer li {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.navContainer li span {
    margin-right: 10px
}

/* navigation  */
.navigation {
    position: relative;
    height: 100px;
    background-color: rgba(255,255,255,.1);
    color:white;
    
}

.navContainer .navigation {
    display: flex;
    width: 100%;
    padding: 18px 2px 18px 2px;
    justify-content: space-between;
    padding-right:40px;
    padding-left:40px;
}

.navigation .logoContainer {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.navigation .menuContainer {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;

}

.menu {
    display: none
}

.navigation ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}
.navigation li {
    text-transform: capitalize;

}

/* styling the mobile menu*/



.navigationMobile ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    list-style-type: none;

}

.navigationMobile li {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationMobile li:hover {
    background-color: rgb(25, 25, 25);
}

.mobileHideide {
    display: none
}



/* carousel section*/

.coureselSection {
    height: 100vh;
    position:relative;
    overflow: scroll;
}

.carouselCard{
    height: 80vh;
    object-fit: cover;
    overflow: hidden;
}

.carouselCard img{
    width:100%;
    height:100%;
    opacity: .8;
    
}

.carouselContent{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:100px;
    background-color: rgba(0,0,0,0.5);
    z-index:500;
    color:#fff;
    padding-left: 40px;
    padding-right: 40px;
}
.carouselContent h1{
    font-size:4rem;
    width:50%;
    text-align:left;
    line-height:80px
}
.carouselContent span{
    color:rgb(218, 114, 76)
}
.carouselContent p{
    font-size:1.5rem;
    width:50%;
    text-align: left;
    line-height:40px;
    margin-bottom: 30px;
}
.carouselContent .buttonContainer{
    width:50%;
    text-align: left;
}
.carouselContent button{
    width:120px;
    height:40px;
    border-radius:2px;
    background-color: rgb(218, 114, 76);
    color:#fff
}


/* hiding this contact bar for smaller screen*/
@media screen and (max-width: 1024px) {
    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px;
        gap: 10px
    }

    .navContainer .leftList {
        gap: 30px;

    }

    .navContainer .rightList {
        gap: 30px;

    }
/*  carousel style */

.carouselContent h1{
    font-size:3rem;
    width:70%;
    text-align:left;
    line-height:60px
}
.carouselContent span{
    color:rgb(218, 114, 76)
}
.carouselContent p{
    font-size:1.2rem;
    width:70%;
    text-align: left;
    line-height:30px;
    margin-bottom: 20px;
}
.carouselContent .buttonContainer{
    width:70%;
    text-align: left;
}
.carouselContent button{
    width:120px;
    padding: 12px 0px 12px 0px;
    border-radius:2px;
    background-color: rgb(218, 114, 76);
    color:#fff
}




}


@media screen and (max-width: 750px) {
    .navContainer {
        padding-left: 0%;
        padding-right: 0%;
    }
    .contact{
        background-color: rgba(255,255,255,.1);
        display:none
    }

    
    .navContainer .leftContact {
        display:none
    }
    .navContainer .rightContact {
        display:none
    }

    .navigation .menuContainer {
        display: none
    }

    .menu {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;

    }

    .navigationMobile {
        width: 100%;
        background-color: rgb(25, 25, 25);
        position: absolute;
        z-index: 999;
        top: 100px;
        transition: 3s ease-in
    }




    /* carousel */
   
    
   
    .carouselCard img{
        width:200%;
        height:100%;
    }

    .carouselContent{
        position:absolute;
        width:100%;
        height:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.5);
        z-index:500;
        color:#fff;
        padding-left: 40px;
        padding-right: 40px;
        padding-top:100px;
    }

   

/*  carousel style */

.carouselContent h1{
    font-size:3rem;
    width:90%;
    text-align:left;
    line-height:60px
}
.carouselContent span{
    color:rgb(218, 114, 76)
}
.carouselContent p{
    font-size:1.2rem;
    width:90%;
    text-align: left;
    line-height:30px;
    margin-bottom: 20px;
}
.carouselContent .buttonContainer{
    width:90%;
    text-align: left;
}
.carouselContent button{
    width:120px;
    padding: 12px 0px 12px 0px;
    border-radius:2px;
    background-color: rgb(218, 114, 76);
    color:#fff
}





}

@media screen and (max-width: 560px) {}